
@{
    ViewBag.Title = "Register Campaign Code";
}

 <style>

     .autocomplete-suggestions {
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         border: 1px solid #999;
         background: #FFF;
         cursor: default;
         overflow: auto;
         -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
         -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
         box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
     }

     .autocomplete-suggestion {
         padding: 2px 5px;
         white-space: nowrap;
         overflow: hidden;
     }

     .autocomplete-no-suggestion {
         padding: 2px 5px;
     }

     .autocomplete-selected {
         background: /*#F0F0F0*/ #0844cf;
     }

     .autocomplete-suggestions strong {
         font-weight: bold;
         color: #000;
     }

     .autocomplete-group {
         padding: 2px 5px;
         font-weight: bold;
         font-size: 16px;
         color: #000;
         display: block;
         border-bottom: 1px solid #000;
     }

 </style>
 <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
     <ol class="breadcrumb">
         <li class="breadcrumb-item active">
             Home
         </li>
         <li class="breadcrumb-item active" aria-current="page">
             Register Campaign
         </li>
     </ol>
 </nav>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">


        <div class="container-fluid">

            <h1 class="h6" style="color:black">Register Campaign Code</h1>

            <!-- Page Heading -->
            <!-- Content Row -->



            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Search Camapign</h6>
                    </div>
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-2 col-sm-2" style="color:black;text-align:left">
                                CampaignCode:
                            </div>
                                <div class="col-md-4 col-sm-4" style="color:black;text-align:left">
                              
                                <input class="form-control" id="txtcampaigncode" style="color:black" type="text" placeholder="Campaign Code" aria-label=".form-control-sm example">
                                 </div> 
                           
                            
                            <div class="col-md-1 col-sm-1">

                            </div>
                            <div class="col-md-1 col-sm-1" style="color:black;text-align:left">


                                Status:



                            </div>
                            <div class="col-md-3 col-sm-3" style="text-align:left">
                                @*<input class="form-control form-control-sm" id="status" type="text" placeholder="Status" aria-label=".form-control-sm example">*@
                                <select id="ddlStatus" class="form-control" data-live-search="true"></select>
                            </div>

                        </div>

                        <div class="clearfix">

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-3 col-sm-3" style="text-align:right;">
                                <a href="#" id="btn" class="btn btn-primary" onclick="inittbSearchResult();">
                                    <span class="icon text-white-50">
                                        @*<i class="fas fa-search"></i>*@
                                    </span>
                                    <span class="text">ค้นหา</span>
                                </a>
                            </div>
                            <div class="col-md-1 col-sm-1">

                            </div>
                            <div class="col-md-5 col-sm-5" style="text-align:left">
                                <a href="#" class="btn btn-danger">
                                    <span class="icon text-white-50">
                                        @*<i class="fas fa-times"></i>*@
                                    </span>
                                    <span class="text">ยกเลิก</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Bar Chart -->


                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="dataCampaignTable" width=100%; cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>CampaignCode</th>
                                        <th>CampaignType</th>
                                        <th>Description</th>
                                        <th>Customer</th>
                                        <th>Type</th>
                                        <th>Period</th>
                                        <th>Status</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>

                          
                            </table>
                        </div>
                        <div class="clearfix">
                            <br />
                        </div>




                        @*<div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite" style="color:black;text-align:left">Showing 1 to 10 of 57 entries</div>
                                </div>
                                <div class="col-sm-3 col-md-3"></div>
                                <div class="col-sm-3 col-md-3"></div>

                                <div class="col-sm-3 col-md-3" style="text-align:right">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo;</a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                            </li>
                                            <li class="paginate_button page-item next" id="dataTable_next">
                                                <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">&raquo;</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                    </div>

                </div>

            </div>




        </div>

    </div>







    <!-- Logout Modal-->
    @*<div class="modal fade" style="color:black;"  id="CamdbDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:900px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CamdbModalLabel">Campaign Detail</h5>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                                <span> CampaignCode</span>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="detailtxtcampaigncode" class="form-control" disabled="disabled" />
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="row clearfix">
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span> Period FromTo</span>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="date">
                                        <div class="input-group input-append date" id="datePicker">
                                            <input type="text" class="form-control " name="date" placeholder="DD/MM/YYYY" aria-describedby="basic-addon1" />

                                            <span class="input-group-text input-group-addon add-on " id="basic-addon1"><i class="fi-rr-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <div class="date">
                                        <div class="input-group input-append date" id="datePicker">
                                            <input type="text" class="form-control " name="date" placeholder="DD/MM/YYYY" aria-describedby="basic-addon1" />

                                            <span class="input-group-text input-group-addon add-on " id="basic-addon1"><i class="fi-rr-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                                <span> Status</span>
                            </div>
                            <div class="col-md-3">
                                <select id="ddlStatus" class="form-control" data-live-search="true"></select>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <br />
                        </div>

                        <div class="row">
                            <button id="test" class="btn btn-primary" onclick="testalert();"> TestAlert </button>

                            <div class=" row clearfix">
                                <br />
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>*@



    <div id="CamdbDetail" class="modal fade" style="color:black" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="modal-header">
                        <h5 id="hTitleEdit" class="modal-title">Request Training</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <form id="frNew" class="needs-validation" novalidate>
                    <div class="container">
                        <div class="modal-body">

                            <div class="row mt-4 ml-3 mr-1">

                                <!--$('#divCAMPAIGNTYPE').show();-->
                                <div id="divCAMPAIGNTYPE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>CampaignType:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCampaignType" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCAMPAIGNTYPEDESC').show();-->
                                <div id="divCAMPAIGNTYPEDESC" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Campaign Type Desc:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCampaignTypeDesc" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCAMPAIGNCODE').show();-->
                                <div id="divCAMPAIGNCODE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Campaign Code:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCampaignCode" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCAMPAIGNDESC').show();-->
                                <div id="divCAMPAIGNDESC" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Campaign Desc:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCampaignDesc" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divBENEFIT').show();-->
                                <div id="divBENEFIT" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Benefit:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtBenefit" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCUSTOMERTYPE').show();-->
                                <div id="divCUSTOMERTYPE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Customer Type:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCustomerType" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCARDTYPE').show();-->
                                <div id="divCARDTYPE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Card Type:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCardType" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divACTIONTYPE').show();-->
                                <div id="divACTIONTYPE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Card Type:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtActionType" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCAMPTYPE').show();-->
                                <div id="divCAMPTYPE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Camp Type:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCampType" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divEXPIRERECEIVE').show();-->
                                <div id="divEXPIRERECEIVE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Expire Recive:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtExpireRecive" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divBENEFITGVAMOUNT').show();-->
                                <div id="divBENEFITGVAMOUNT" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Benefit GV Amount:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtBenefitGVAmount" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divKEEPOB').show();-->
                                <div id="divKEEPOB" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Keep OB:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtKeepOB" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divWITHDRAWAMOUNT').show();-->
                                <div id="divWITHDRAWAMOUNT" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>With Draw Amount:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtWithDrawAmount" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divUNITDATE').show();-->
                                <div id="divUNITDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">Unit Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='UnitDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divEXPIREGVDATE').show();-->
                                <div id="divEXPIREGVDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">Expire GV Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='ExpireGVDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divWITHDRAWDATE').show();-->
                                <div id="divWITHDRAWDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">WithDraw Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='WithDrawDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divTARGETQUALIFICATION').show();-->
                                <div id="divTARGETQUALIFICATION" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Target Qualification:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtTragetQualification" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divEXCEPTIONCAMP').show();-->
                                <div id="divEXCEPTIONCAMP" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Exception Camp:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtExceptionCamp" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divGENTARGETDATE').show();-->
                                <div id="divGENTARGETDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">GEN Traget Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='GenTragetDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divWITHDRAWDATESTART').show();-->
                                <div id="divWITHDRAWDATESTART" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">WithDraw DateStart:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='WithdrawDateStart'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divWITHDRAWDATEEND').show();-->
                                <div id="divWITHDRAWDATEEND" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">WithDraw DateEnd:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='WithdrawDateEnd'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divENDDATE').show();-->
                                <div id="divENDDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">END Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='ENDDATE'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divBINT').show();-->
                                <div id="divBINT" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>BINT:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtBint" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divCRU').show();-->
                                <div id="divCRU" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>CRU:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtCru" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divBILL').show();-->
                                <div id="divBILL" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>BILL:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtBill" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divBDAY').show();-->
                                <div id="divBDAY" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>BDay:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtBDay" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divWITHINDAY').show();-->
                                <div id="divWITHINDAY" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>WithInDay:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtwithInDay" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divREMAINOB').show();-->
                                <div id="divREMAINOB" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>RemainOB:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtRemainOB" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divPERIODOB').show();-->
                                <div id="divPERIODOB" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>PeriodOB:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtPeriodOB" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <!--$('#divPROCESSLABEL').show();-->
                                <div id="divPROCESSLABEL" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>PROCESS LABEL:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtProcessLable" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divREGISTERBY').show();-->
                                <div id="divREGISTERBY" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>REGISTER BY:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtRegisterBy" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divAPPROVEBY').show();-->
                                <div id="divAPPROVEBY" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Apprvove BY:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtApproveBy" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <!--$('#divLASTDATE').show();-->
                                <div id="divLASTDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">Last Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='LastDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divREGISTERDATE').show();-->
                                <div id="divREGISTERDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">Register Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='RegisterDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divUPDATEDATE').show();-->
                                <div id="divUPDATEDATE" class=" col-md-6 mt-4">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="">Update Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class='input-group p-0 input-append  date' id='UpdateDate'>
                                                <input type='text' class="form-control" name="date" required />
                                                <div class="input-group-append input-group-addon">
                                                    <span class="input-group-text px-4 input-group-addon add-on">
                                                        <i class="fi-rr-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--$('#divPERIODDATE').show();-->
                                <div id="divPERIODDATE" class="col-md-6 mt-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Period Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type='text' id="_txtPeriodDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="onClose();"  data-dismiss="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                                Closed
                            </button>
                            <button id="btnSave" type="submit"  class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





</div>




@section Scripts {


    <script type="text/javascript">

        $(document).ready(function () {
            console.log("ready!");
            var oTable;

            inittbSearchResult()
            GetDropDownStatus();

            $('#ExpireGVDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose:true
            });
            $('#UnitDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });
            $('#WithDrawDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });

            $('#GenTragetDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });
            $('#WithdrawDateStart').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });
            $('#WithdrawDateEnd').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });

            
            $('#LastDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });
            $('#RegisterDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });
            $('#UpdateDate').datepicker({
                format: 'dd/mm/yyyy',
                autoWidth: true,
                autoClose: true
            });

            $('#txtcampaigncode').autocomplete({
                lookup: function (query, done) {
                    $.ajax({
                        type: "POST",
                           url: '@Url.Action("LoadCampaignCode", "RegisterCampaign")',
                        data: { query: query },
                        dataType: "json",
                        success: function (data) {
                          //  console.log(data);
                            var suggestions = $.map(data.response, function (v) {
                                return {
                                    'value': v.campaigncode, 'data': v.campaigncode
                                };
                            });
                            var result = { 'suggestions': suggestions };
                            done(result);


                        },
                        error: function (xhr, status, error) {

                        }
                    });
                },
                minChars: 1,
                onSelect: function (suggestion) {
                    $('#selection').html('You selected: ' + suggestion.value);
                },
                showNoSuggestionNotice: true,
            });


        });

        function openModal(campaigncode,campaigntype,benefit) {
          //  alert(campaigncode);
            showField();
              $.ajax({
                  url: '@Url.Action("GetDataByCampaignCode", "RegisterCampaign")',
                  type: 'POST',
                  data: { 'campaigncode': campaigncode},
                  dataType: "json",
                  success: function (data) {
                      console.log(data)
                      if (data != null) {
                          $.each(data, function (id, data) {
                              setField(campaigntype,benefit, data.actiontype);
                             
                              $("#_txtCampaignType").val(data.campaigntype);
                              $("#_txtCampaignTypeDesc").val(data.campaigntypedesc);
                              $("#_txtCampaignCode").val(data.campaigncode);
                              $("#_txtCampaignDesc").val(data.campaigndesc);
                              $("#_txtBenefit").val(data.benefit);
                              $("#_txtCustomerType").val(data.customertype);
                              $("#_txtCardType").val(data.cardtype);
                              $("#_txtActionType").val(data.actiontype);
                              $("#_txtCampType").val(data.camptype);
                              $("#_txtExpireRecive").val(data.expirereceive);
                              $("#_txtBenegfitGVAmount").val(data.benefitgvamount);
                              $("#_txtKeepOB").val(data.keepob);
                              $("#_txtWithDrawAmount").val(data.withdrawamount);
                          //    $("#_txtUnitDate").val(data.unitdate);
                           //   $("#_txtExpireDate").val(data.expiregvdate);
                            //  $("#_txtWithDrawDate").val(data.withdrawdate);
                              $("#_txtTragetQulification").val(data.targetqualification);
                              $("#_txtExceptionCamp").val(data.exceptioncamp);
                              $("#_txtGenTragetDate").val(data.gentargetdate);
                           //   $("#_txtWithDrawDateStart").val(data.withdrawdatestart);
                          //    $("#_txtWithDrawDateEnd").val(data.withdrawdateend);
                          //    $("#_txtEndDate").val(data.enddate);
                              $("#_txtBint").val(data.bint);
                              $("#_txtCru").val(data.cru);
                              $("#_txtBill").val(data.bill);
                              $("#_txtBDay").val(data.bday);
                              $("#_txtWithInDay").val(data.withinday);
                              $("#_txtRemainOB").val(data.remainob);
                              $("#_txtPeriodOB").val(data.periodob);
                              $("#_txtProcessLable").val(data.processlabel);
                              $("#_txtRegisterBy").val(data.registerby);
                              $("#_txtApproveBy").val(data.approveby);
                         //     $("#_txtLastDate").val(data.lastdate);
                         //     $("#_txtRegisterDate").val(data.registerdate);
                          //    $("#_txtUpdateDate").val(data.updatedate);
                              $("#_txtPeriodDate").val(data.perioddate);

                          });
                      }
                      else {
                       
                      }
                  },
                  error: function (result) {

                  }

            });

        }


       function GetDropDownStatus() {
        $.ajax({
            type: 'Post',
            url: '@Url.Action("GetStatus","RegisterCampaign")',
           // data: {stateid:stateid},
            dataType: 'json',
            success: function (data) {

                $("#ddlStatus").empty();
                $("#ddlStatus").append('<option value="-1">--Please All--</option>');
                $.each(data, function (id, result) {
                    $("#ddlStatus").append('<option value="' + result.statusvalue + '">' + result.statustext +'</option>');
                    });
                },
                failure: function () {
                    $("#ddlStatus").empty();
                    $("#ddlStatus").append('<option value="-1">--Please All--</option>');
                }
            });
        }

        function inittbSearchResult() {
            var oTable = $('#dataCampaignTable').DataTable({
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: false, // this is for disable filter (search box)
                orderMulti: false, // for disable multiple column at once
                pageLength: 10,
                order: [],
                autoWidth: false,
                searching: false,
                destroy: true,
                lengthChange: false,
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<span aria-hidden="true"><h3>&laquo;</h3></span>', "sNext": '<span aria-hidden="true"><h3>&raquo;</h3></span>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": false,
                    "sLengthMenu": "Results :  _MENU_",
                },
                 "scrollX": false,
                  "language": {
                  "zeroRecords": "No data found.",
                   "decimal": ",",
                  "thousands": "."
                    },
                    ajax: {
                        url: '@Url.Action("LoadCampaignList", "RegisterCampaign")',
                        type: "POST",
                        datatype: "JSON",

                        //dataSrc:"",
                        data: function (d) {
                            d.campaigncode = $("#txtcampaigncode").val(),
                            d.campaignstatus = $("select[id$=ddlStatus]").val()
                   
                        }
                    },
                    columns: [
                        
                        { "data":  "row", "width": "5%" },
                        { "data": "campaigncode", "width": "10%" },
                        { "data": "campaigntype", "width": "20%" },
                        { "data": "campaigndesc", "width": "45%" },
                        { "data": "customertype", "width": "7%" },
                        { "data": "benefit", "width": "10%" },
                        { "data": "perioddate", "width": "40%" },
                        { "data": "status", "width": "15%" },
                        {
                            data: null, render: function (data, type, row) {
                                // <a href="#" onclick=openModal('" + row.campaigncode + "') class="btn btn-light" data-toggle='modal' data-target='camdbDetail' data-original-title='CampaignDetail'><span class="icon text-white-50">\<span class="text">Detail</span></a >
                                return "<a href='#' onclick=openModal('" + row.campaigncode + "','" + row.campaigntype + "','" + row.benefit + "') class='btn btn - light' data-toggle='modal' data-target='#CamdbDetail' data-original-title='CampaignDetail'><span class='icon text - white - 50'>\<span class='text'>Detail</span></a > ";
                            },
                            // orderable: false,
                            className: 'text-center'
                        },

                ],
                "order": [[0, "desc"]],
                "stripeClasses": [],
                drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
                });
        }
        function ClearField() {

            $("#_txtCampaignType").val('');
            $("#_txtCampaignTypeDesc").val('');
            $("#_txtCampaignCode").val('');
            $("#_txtCampaignDesc").val('');
            $("#_txtBenefit").val('');
            $("#_txtCustomerType").val('');
            $("#_txtCardType").val('');
            $("#_txtActionType").val('');
            $("#_txtCampType").val('');
            $("#_txtExpireRecive").val('');
            $("#_txtBenegfitGVAmount").val('');
            $("#_txtKeepOB").val('');
            $("#_txtWithDrawAmount").val('');
            //$("#_txtUnitDate").val(data.unitdate);
            //$("#_txtExpireDate").val(data.expiregvdate);
            //$("#_txtWithDrawDate").val(data.withdrawdate);
            $("#_txtTragetQulification").val('');
            $("#_txtExceptionCamp").val('');
            $("#_txtGenTragetDate").val('');
            //$("#_txtWithDrawDateStart").val(data.withdrawdatestart);
            //$("#_txtWithDrawDateEnd").val(data.withdrawdateend);
            //$("#_txtEndDate").val(data.enddate);
            $("#_txtBint").val('');
            $("#_txtCru").val('');
            $("#_txtBill").val('');
            $("#_txtBday").val('');
            $("#_txtWithInDay").val('');
            $("#_txtRemainOB").val('');
            $("#_txtPeriodOB").val('');
            $("#_txtProcessLable").val('');
            $("#_txtRegisterBy").val('');
            $("#_txtApproveBy").val('');
            //$("#_txtLastDate").val(data.lastdate);
            //$("#_txtRegisterDate").val(data.registerdate);
            //$("#_txtUpdateDate").val(data.updatedate);
            $("#_txtPeriodDate").val('');


        }
        function onClose() {
            console.log('onclose');
            ClearField();
            showField();
            

        }
        function showField() {
          //  alert('Show');
            $('#divCAMPAIGNTYPE').show();
            $('#divCAMPAIGNTYPEDESC').show();
            $('#divCAMPAIGNCODE').show();
            $('#divCAMPAIGNDESC').show();
            $('#divBENEFIT').show();
            $('#divCUSTOMERTYPE').show();
            $('#divCARDTYPE').show();
            $('#divACTIONTYPE').show();
            $('#divCAMPTYPE').show();
            $('#divEXPIRERECEIVE').show();
            $('#divBENEFITGVAMOUNT').show();
            $('#divKEEPOB').show();
            $('#divWITHDRAWAMOUNT').show();
            $('#divUNITDATE').show();
            $('#divEXPIREGVDATE').show();
            $('#divWITHDRAWDATE').show();
            $('#divTARGETQUALIFICATION').show();
            $('#divEXCEPTIONCAMP').show();
            $('#divGENTARGETDATE').show();
            $('#divWITHDRAWDATESTART').show();
            $('#divWITHDRAWDATEEND').show();
            $('#divENDDATE').show();
            $('#divBINT').show();
            $('#divCRU').show();
            $('#divBILL').show();
            $('#divBDAY').show();
            $('#divWITHINDAY').show();
            $('#divREMAINOB').show();
            $('#divPERIODOB').show();
            $('#divPROCESSLABEL').show();
            $('#divREGISTERBY').show();
            $('#divAPPROVEBY').show();
            $('#divLASTDATE').show();
            $('#divREGISTERDATE').show();
            $('#divUPDATEDATE').show();
            $('#divPERIODDATE').show();
        }
        function setField(Campaigntype, Benefit,Action) {
            if ((Campaigntype == "FWD" || Campaigntype == "ACT" || Campaigntype == "MEX") && Benefit == "PM") {
                $("#divCAMPTYPE").hide();
                $("#divEXPIRERECEIVE").hide();
                $("#divBENEFITGVAMOUNT").hide();
                $("#divKEEPOB").hide();
                $("#divWITHDRAWAMOUNT").hide();
                $("#divUNITDATE").hide();
                $("#divEXPIREGVDATE").hide();
                $("#divWITHDRAWDATE").hide();
                $("#divTARGETQUALIFICATION").hide();
                $("#divEXCEPTIONCAMP").hide();
                $("#divGENTARGETDATE").hide();
                $("#divWITHDRAWDATESTART").hide();
                $("#divWITHDRAWDATEEND").hide();
                $("#divENDDATE").hide();
                $("#divBINT").hide();
                $("#divCRU").hide();
                $("#divBILL").hide();
                $("#divBDAY").hide();

            }
            else if (Campaigntype == "FWD" && Benefit == "RT") {
               //  alert('B');
                $("#divCAMPTYPE").hide();
                $("#divEXPIRERECEIVE").hide();
                $("#divBENEFITGVAMOUNT").hide();
                $("#divKEEPOB").hide();
                $("#divWITHDRAWAMOUNT").hide();
                $("#divUNITDATE").hide();
                $("#divEXPIREGVDATE").hide();
                $("#divWITHDRAWDATE").hide();
                $("#divTARGETQUALIFICATION").hide();
                $("#divEXCEPTIONCAMP").hide();
                $("#divGENTARGETDATE").hide();
                $("#divWITHDRAWDATESTART").hide();
                $("#divWITHDRAWDATEEND").hide();
                $("#divENDDATE").hide();
                $("#divWITHINDAY").hide();
                $("#divREMAINOB").hide();
                $("#divPERIODOB").hide();
                $("#divPROCESSLABEL").hide();
                $("#divLASTDATE").hide();

            }
            else if (Campaigntype == "MGM" || Campaigntype == "PGP") {
                //. alert('C');
                $("#divBENEFITGVAMOUNT").hide();
                $("#divKEEPOB").hide();
                $("#divWITHDRAWAMOUNT").hide();
                $("#divUNITDATE").hide();
                $("#divEXPIREGVDATE").hide();
                $("#divWITHDRAWDATE").hide();
                $("#divTARGETQUALIFICATION").hide();
                $("#divEXCEPTIONCAMP").hide();
                $("#divGENTARGETDATE").hide();
                $("#divWITHDRAWDATESTART").hide();
                $("#divWITHDRAWDATEEND").hide();
                $("#divENDDATE").hide();
                $("#divBINT").hide();
                $("#divCRU").hide();
                $("#divBILL").hide();
                $("#divBDAY").hide();
                $("#divWITHINDAY").hide();
                $("#divREMAINOB").hide();
                $("#divPERIODOB").hide();
                $("#divPROCESSLABEL").hide();
                $("#divLASTDATE").hide();

            }
            else if (Campaigntype == "NON" || Campaigntype == "NVR") {
                 ///alert('D');

                $("#divCAMPTYPE").hide();
                $("#divEXPIRERECEIVE").hide();
                $("#divBENEFITGVAMOUNT").hide();
                $("#divKEEPOB").hide();
                $("#divWITHDRAWAMOUNT").hide();
                $("#divUNITDATE").hide();
                $("#divEXPIREGVDATE").hide();
                $("#divWITHDRAWDATE").hide();
                $("#divWITHINDAY").hide();
                $("#divREMAINOB").hide();
                $("#divPERIODOB").hide();
                $("#divPROCESSLABEL").hide();
                $("#divLASTDATE").hide();

            }
            else if (Campaigntype == "SPC") {
                if (Benefit == "GV") {
                    if (ActionType == "WK") {
                        $("#divCARDTYPE").hide();
                        $("#divCAMPTYPE").hide();
                        $("#divEXPIRERECEIVE").hide();
                        $("#divTARGETQUALIFICATION").hide();
                        $("#divEXCEPTIONCAMP").hide();
                   
                        $("#divWITHDRAWDATESTART").hide();
                        $("#divWITHDRAWDATEEND").hide();
                        $("#divENDDATE").hide();
                        $("#divBINT").hide();
                        $("#divCRU").hide();
                        $("#divBILL").hide();
                        $("#divBDAY").hide();
                        $("#divWITHINDAY").hide();
                        $("#divREMAINOB").hide();
                        $("#divPERIODOB").hide();
                        $("#divPROCESSLABEL").hide();
                        $("#divLASTDATE").hide();
                    }
                    else {
                       // alert('F');
                        $("#divCARDTYPE").hide();
                        $("#divCAMPTYPE").hide();
                        $("#divEXPIRERECEIVE").hide();
                        $("#divKEEPOB").hide();
                        $("#divKEEPOB").hide();
                        $("#divTARGETQUALIFICATION").hide();
                        $("#divEXCEPTIONCAMP").hide();
                      //  $("#divGENTARGETDATE").hide();
                        $("#divWITHDRAWDATESTART").hide();
                        $("#divWITHDRAWDATEEND").hide();
                        $("#divENDDATE").hide();
                        $("#divBINT").hide();
                        $("#divCRU").hide();
                        $("#divBILL").hide();
                        $("#divBDAY").hide();
                        $("#divWITHINDAY").hide();
                        $("#divREMAINOB").hide();
                        $("#divPERIODOB").hide();
                        $("#divPROCESSLABEL").hide();
                        $("#divLASTDATE").hide();

                    }
                }
                else if (Benefit == "RR") {
                    if (ActionType == "WK") {
                       // alert('G');
                        $("#divCAMPTYPE").hide();
                        $("#divEXPIRERECEIVE").hide();
                        $("#divBENEFITGVAMOUNT").hide();
                        $("#divEXPIREGVDATE").hide();
                        $("#divTARGETQUALIFICATION").hide();
                        $("#divEXCEPTIONCAMP").hide();
                        $("#divWITHDRAWDATESTART").hide();
                        $("#divWITHDRAWDATEEND").hide();
                        $("#divENDDATE").hide();
                        $("#divBINT").hide();
                        $("#divCRU").hide();
                        $("#divBILL").hide();
                        $("#divBDAY").hide();
                        $("#divWITHINDAY").hide();
                        $("#divREMAINOB").hide();
                        $("#divPERIODOB").hide();
                        $("#divPROCESSLABEL").hide();
                        $("#divLASTDATE").hide();
                    }
                    else {
                      //  alert('H');
                        $("#divCAMPTYPE").hide();
                        $("#divEXPIRERECEIVE").hide();
                        $("#divBENEFITGVAMOUNT").hide();
                        $("#divKEEPOB").hide();
                        $("#divUNITDATE").hide();
                        $("#divEXPIREGVDATE").hide();
                        $("#divTARGETQUALIFICATION").hide();
                        $("#divEXCEPTIONCAMP").hide();
                      
                        $("#divWITHDRAWDATESTART").hide();
                        $("#divWITHDRAWDATEEND").hide();
                        $("#divENDDATE").hide();
                        $("#divBINT").hide();
                        $("#divCRU").hide();
                        $("#divBILL").hide();
                        $("#divBDAY").hide();
                        $("#divWITHINDAY").hide();
                        $("#divREMAINOB").hide();
                        $("#divPERIODOB").hide();
                        $("#divPROCESSLABEL").hide();
                        $("#divLASTDATE").hide();

                    }
                }
                else if (Benefit == "SW" || Benefit == "UP") {
                    // alert('A');
                    $("#divCAMPTYPE").hide();
                    $("#divEXPIRERECEIVE").hide();
                    $("#divBENEFITGVAMOUNT").hide();
                    $("#divKEEPOB").hide();
                    $("#divWITHDRAWAMOUNT").hide();
                    $("#divUNITDATE").hide();
                    $("#divEXPIREGVDATE").hide();
                    $("#divTARGETQUALIFICATION").hide();
                    $("#divEXCEPTIONCAMP").hide();
                  
                    $("#divWITHDRAWDATESTART").hide();
                    $("#divWITHDRAWDATEEND").hide();
                    $("#divENDDATE").hide();
                    $("#divBINT").hide();
                    $("#divCRU").hide();
                    $("#divBILL").hide();
                    $("#divBDAY").hide();
                    $("#divWITHINDAY").hide();
                    $("#divREMAINOB").hide();
                    $("#divPERIODOB").hide();
                    $("#divPROCESSLABEL").hide();
                    $("#divLASTDATE").hide();
                }

            }
        }



        function testalert()
        {
            bootbox.confirm({
                message: "confirm with custom button text and color!",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    console.log('This was logged in the callback: ' + result);
                }
            });
        }

    </script>
}
