
@{
    ViewBag.Title = "Register Campaign Code";

}
@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {

        let percentValue = 0,
            progressBar = $('.progress-bar');

        function startBar() {

            if (percentValue < 100) {
                percentValue += 1;
                progressBar.css("width", percentValue + "%").html(percentValue + "%");

            } else {
                clearInterval(timer);
            }
        }

        

        $('#btnshowdata').on('click', function () {

            var start_time = new Date().getTime();
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }

            var fdata = new FormData();
            var fileUpload = $("#fileupload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/UploadTarget/Showdata",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());

                    timer = setInterval(startBar, 500);
                    $(".progress").show();


                    //start_time = new Date().getTime();
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {


                        var table = $("#dataTable").DataTable();


                        var ajaxTime = new Date().getTime();
                        var totalTime = ajaxTime - start_time;

                        if (percentValue < 100) percentValue = 99;
                        console.log(getdatetime(totalTime));

                        $("#cardshowdata").show();
                        setTimeout(() => { $(".progress").hide(100); }, 1000);

                    }
                },
                error: function (e) {

                }
            });

        })
        $('#btnvalidatedata').on('click', function () {

            
            var start_time = new Date().getTime();
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }

            var fdata = new FormData();
            var fileUpload = $("#fileupload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/UploadTarget/Validatedata",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());

                    timer = setInterval(startBar, 500);
                    $(".progress").show();


                    //start_time = new Date().getTime();
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {

                        

                        //--
                        var table = $("#dataTable").DataTable();
                        table.rows.add($(response)).draw();
                        var ajaxTime = new Date().getTime();
                        var totalTime = ajaxTime - start_time;

                        if (percentValue < 100) percentValue = 99;
                        console.log(getdatetime(totalTime));

                        $("#cardshowdata").show();
                        setTimeout(() => { $(".progress").hide(100); }, 1000);

                    }
                },
                error: function (e) {

                }
            });

        })

    });



    $(function () {
        $('#btnExport').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Please select a file then Import");
                return false;
            }
        });
    });

    function getdatetime(d) {
        var Ms = null;
        var diffMs = d; // milliseconds between now & Christmas
        var diffDays = Math.floor(diffMs / 86400000); // days
        var diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
        var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
        var diffSecs = Math.round((((diffMs % 86400000) % 3600000) % 60000) / 1000); // seconds
        return Ms = diffMins + ":" + diffSecs;
    }


</script>
<style>
    #error {
        color: red;
    }
    /* .progress:hover {
        display: none;
    }*/
    /*.progress {
        display: flex;
        height: .25rem;
    }
    .bg-success {
        background-color: #1eb349 !important;
    }*/
</style>
<nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            Home
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Upload Target
        </li>
    </ol>
</nav>
<form asp-controller="Home" asp-action="Export">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <input type="file" id="fileupload" name="files" class="form-control" />
            </div>
            <div class="col-md-3">
                <input type="button" name="Show Data" value="ShowData" id="btnshowdata" class="btn btn-primary" />
                <input type="button" name="Validate Data" value="validatedata" id="btnvalidatedata" class="btn btn-primary" />
                @*<input type="button" name="Upload" value="Upload" id="btnupload" class="btn btn-primary" />*@

                @*<a href="@Url.Action("Download", "UploadTraget")">Download</a>*@
            </div>

            @*<div class="col-md-5">
                    <input type="submit" name="Export" value="Create and Export" id="btnExport"
                           class="btn btn-primary" asp-action="Export" />
                </div>*@
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">

        </div>
        <div class="card shadow mb-4">
            <div class="progress" style="display:none">
                <div class="progress-bar bg-success" role="progressbar"></div>
            </div>
            @*<div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">ShowData for UploadTarget</h6>
                </div>*@
            <div class="card-body" id="cardshowdata" style="display:none">
                <div class="table-responsive" style="color:darkslateblue">
                    <table class='table table-bordered' id='dataTable' width='100%' cellspacing='0'>
                        <thead>
                            <tr>
                                <th>Seq.</th>
                                <th>CS No.</th>
                                <th>Contract No.</th>
                                <th>Campaign Code</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <!-- Page level plugins -->

    </div>

</form>
@*<script src="~/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>*@
@*<script src="~/vendor/datatables/datatables-demo.js"></script>*@

